.box{
    margin: 10px;

    display: flex;
    flex-direction: row;

    height: 7%; 
    position: relative;


}

.gen-button{
  margin: 10px;;
    /* position: absolute;

    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%); */

}

  .final-preview{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px;
  }
  .list-group-item{
    margin:0px;

  }