<div class="box">
  <button class="gen-button" mat-flat-button color="primary" (click)="generate()">
    Start generation
  </button>

  <button class="gen-button" mat-flat-button color="secondary" (click)="goBack()">
    Back
  </button>
</div>


<div class="card-header"  *ngIf="completed">Results
  <div class="final-preview">
    <ul class="list-group list-group-flush" *ngFor="let image of images.body">
      <li class="list-group-item">
        <p><a href="{{ image.url }}">{{ image.name }}</a></p>
        <img src="{{ image.url }}" alt="{{ image.name }}" height="100px"/>
      </li>
    </ul>

  </div> 
</div>
  <!-- <div *ngIf="imageInfos |async">
<div  *ngFor="let image of images">
    <img src="{{ image.url }}" alt="{{ image.name }}" height="80px" />
</div> 
</div>
 -->
