.preview {
  max-width: 150px;
  border: solid;
  border-width: 3px;
  border-color: rgb(103, 108, 111);
  margin: 2px;
  display: inline;
  
}

.formina {
  display: inline;
  max-width: 130px;
}

.formgroup {
  max-width: 150px;
  display:inline;
  /* display: flex;
  flex-direction: row; */
}

input {
  width:150px;
  margin:2px;
}


.final-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.container-selection {
  margin: 20px;
  padding: 10px;

}

.last {
  position: absolute;
  left: 50%;
}

.choose-files {
  display: block;
  height: 55px;
}
.upload-button{
  width: 200px;
}