.container{
  
  padding: 10px;
  background-color: rgb(162, 167, 173);
  height: 40%;
}
.container-small{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(235, 239, 244);
  height: 10%;
}



.mat-display-2{
  padding: 5px;
  /* background-color: rgb(101, 101, 241); */
}


a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: rgb(29, 129, 144);
  text-decoration: none;
}

/* selected link */
a:active {
  color:  rgb(29, 129, 144);
}