.container{
  background-color: #f0ffff;
  width: 35%;
}
.config-form {
    margin-top: 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
  }

  label, input {
    display: block;
}

label {
      margin: 15px 0px 0px 0px;
}

.submit-button{
  margin: 10px;
}

.text-container{
/*   background-color: rgb(184, 255, 255);
 */
 margin: 10px 3% 0px 3%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 2%;
  border: solid;
  border-color: rgb(208, 208, 208);
}

.instructions{
  font-size: 11pt;
  text-align: justify;

}